<!DOCTYPE html>
<html>
  <head>
    <title>All Users</title>
    <link rel="stylesheet" href="/css/adminUsers.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <div class="page-header">
      <button class="back-btn" onclick="window.location.href='/admin'">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <h2>All Users</h2>
    </div>

    <div class="users-container">
  <div class="users-header">
    <span>Name</span>
    <span>Email</span>
    <span>Role</span>
    <span>Action</span>
  </div>

  <% users.forEach(user => { %>
    <div class="user-row" id="user-<%= user._id %>">
      <span><%= user.name %></span>
      <span><%= user.email %></span>
      <span class="role"><%= user.role %></span>

      <button 
        class="delete-btn"
        data-id="<%= user._id %>">
        Remove
      </button>
    </div>
  <% }) %>
</div>


    <script src="/jsExpress/admin.js"></script>
  </body>
</html>
