<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/adminPage.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <%- include('./partials/adminHeader'); %>

    <div class="admin-layout">
      <%- include('./partials/adminSidebar'); %>
    <div class="dashboard-content">
  <div class="quick-actions">

    <div class="action-card" onclick="window.location.href='/admin/users'">
      <span>View Users</span>
      <i class="fa-solid fa-arrow-right"></i>
       <div class="card-stat">Total Users: <%= stats.totalUsers %></div>
    </div>

    <div class="action-card" onclick="window.location.href='/admin/view-orders'">
      <span>View User Orders</span>
      <i class="fa-solid fa-arrow-right"></i>
       <div class="card-stat">Total Orders: <%= stats.totalOrders %></div>
    </div>

    <div class="action-card" onclick="window.location.href='/admin/products'">
      <span>View Products</span>
      <i class="fa-solid fa-arrow-right"></i>
       <div class="card-stat">Available Products: <%= stats.totalProducts %></div>
    </div>

  </div>

  <div class="requests-section">
    <h3>Pending Requests</h3>

    <table class="requests-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% if (users && users.length) { %>
          <% users.forEach(user => { %>
            <tr id="user-<%= user._id %>">
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td id="user-role"><%= user.role %></td>
              <td>
                <button class="approve-btn" data-id="<%= user._id %>">Approve</button>
                <button class="reject-btn" data-id="<%= user._id %>">Reject</button>
              </td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr>
            <td colspan="4" class="no-data">
              No pending user requests
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
</div>

    <div id="productContainer" class="product-grid"></div>
    <script src="/jsExpress/admin.js"></script>
  </body>
</html>
