<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="heading">
      <h2 class="welcome-text">Welcome to ExpressMart!</h2>

      <div class="header-buttons">
        <button id="view-users">View Users</button>
        <button id="orders-button">View User Orders</button>
        <button id="view-products">View Products</button>
        <button id="logout-btn">Logout</button>
      </div>
    </div>
    <div class="card-container">
      <% if (users && users.length) { %>
        <h2 class="requests-heading">Pending Requests</h2>
        <% users.forEach(user=>{ %>
        <div class="user-card" id="user-<%= user._id %>">
          <p><strong>Name: </strong><%= user.name %></p>
          <p><strong>Email: </strong><%= user.email %></p>
          <p><strong>Role: </strong><%= user.role %></p>
          <button class="approve-btn" data-id="<%= user._id %>">Accept</button>
          <button class="reject-btn" data-id="<%= user._id %>">Reject</button>
        </div>
      <% }) %>
      <% } else{ %>
        <h4 class="no-requests">No Pending Users Requests</h4>
      <% } %>

    </div>
    <div id="productContainer" class="product-grid"></div>
    <script src="/jsExpress/admin.js"></script>
  </body>
</html>
