<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/css/user.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="brand">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>ExpressMart</span>
      </div>
      <div class="header-buttons">
        <div id="profile-button" class="profile-circle">
          <span id="profile-initial"></span>
        </div>
        <button id="view-orders">View Orders</button>
        <button id="logout-btn">Logout</button>
      </div>
    </div>

    <div class="page-wrapper">
      <div class="left-section">
        <div class="search-container">
          <form action="/user" method="GET" class="search-form">
            <input
              type="text"
              id="category-search"
              name="category"
              placeholder="Search by category..."
              value="<%= searchCategory %>"
              autocomplete="off"
            />
            <div id="suggestions" class="suggestions-box"></div>
            <button type="submit">Search</button>
            <a href="/user" class="view-all-btn">View All Products</a>
          </form>
        </div>
        <% if (message) { %>
        <p class="no-products-msg"><%= message %></p>
        <% } %>

        <div class="product-grid">
          <% Object.keys(products).forEach((cat) => { %> <%
          products[cat].forEach((product) => { %>

          <div class="product-card" data-id="<%= product._id %>">
            <img src="<%= product.imagePath %>" />

            <h3><%= product.name.toUpperCase() %></h3>

            <p>
              <strong>Category:</strong> <%=
              cat.charAt(0).toUpperCase()+cat.slice(1) %>
            </p>
            <p><strong>Price:</strong> <%= product.price %></p>
            <p>
              <strong>Qty:</strong>
              <span class="prod-qty"> <%= product.quantity %> </span>
            </p>

            <p class="description"><%= product.description %></p>

            <button class="add-to-cart">Add to Cart</button>
            <button class="buy-now">Buy Now</button>
          </div>

          <% }) %> <% }) %>
        </div>
      </div>

      <div class="right-section">
        <button id="view-cart" class="cart-btn">View Cart</button>
        <div id="cart-container"></div>
      </div>
    </div>

    <script>
      const userInitial = "<%= name %>".charAt(0).toUpperCase();
    </script>
    <script src="/jsExpress/user.js"></script>
  </body>
</html>
