<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/css/user.css" />
    <link rel="stylesheet" href="/css/userPage.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <%- include ('./partials/userHeader'); %>
    <%- include ('./partials/userSidebar'); %>

    <div class="page-wrapper">
      <div class="left-section">
        <div class="search-container">
            <div class="search-form">
            <input
              type="text"
              id="category-search"
              name="category"
              placeholder="Search products..."
              value="<%= searchCategory %>"
              autocomplete="off"
            />
            <div id="suggestions" class="suggestions-box"></div>
            <button type="button" id="search-btn">Search</button>
            <a href="/user" class="view-all-btn">View All Products</a>
            </div>
        </div>
        <% if (message) { %>
        <p class="no-products-msg"><%= message %></p>
        <% } %>

        <div class="product-grid">
          <% Object.keys(products).forEach((cat) => { %> <%
          products[cat].forEach((product) => { %>

          <div class="product-card" data-id="<%= product._id %>">
            <div class="product-image">
              <img src="<%= product.imagePath %>" />
            </div>

            <div class="product-info">
              <h3><%= product.name.toUpperCase() %></h3>
              <p><strong>Price:</strong> <%= product.price %></p>
            </div>

            <div class="product-actions">
              <button class="add-to-cart"><i class="fa-solid fa-cart-plus"></i> Add to Cart</button>
              <button class="buy-now"><i class="fa-solid fa-bolt"></i> Buy Now</button>
            </div>
          </div>
          <% }) %> <% }) %>
        </div>
      </div>
    <script src="/jsExpress/user.js"></script>
  </body>
</html>
